{#{% set dict = {} %}

{% set foo = (dict, deferred) %}

{% do dict.update({'a': 'b'}) %}

{{ foo }}
#}
{% set list = [] %}
{% macro bar() %}
{% set map1 = {} %}
{% set map2 = {} %}
{% do list.append(map1) %}
{% if deferred %}
{% do list.append(map2) %}
{% endif %}
{% do map1.update({'a': 'A'}) %}
{% do map2.update({'b': 'B'}) %}
{{ list }}
{% endmacro %}

{% set foobar = bar() %}
{{ list }}