{% set my_list = [] %}{% set my_list = [] %}{% macro macro_append(num) %}{% do my_list.append(num) %}{{ my_list }}{% endmacro %}{% for item in macro_append(deferred)|split(',',2) %}
{{ item }}
{% endfor %}
