{%- macro macro_append(num) -%}
{%- do my_list.append(num) -%}Macro: {{ my_list }}
{%- endmacro -%}
Is ({{ my_list }}),
{% print macro_append(first) %}
Is ({{ my_list }}),
{%- do macro_append(deferred) -%}
Is ({{ my_list }}),
{% print macro_append(deferred2) %}
