{% set my_list = [] %}{% set my_list = [] %}{% macro macro_append(num) %}{% do my_list.append(num) %}{{ my_list }}{% endmacro %}{% if my_list == macro_append(deferred)|split(',',2) %}
{{ my_list }}
{% endif %}
