{% macro foo() -%}
first foo definition
{% endmacro %}
{% macro repeat(val) -%}
{% print val %}
{{ foo() }}
{{ caller() }}
{% endmacro %}
{% call repeat(1) -%}
1st caller
{% macro foo() -%}
second foo definition
{% endmacro %}
{% macro repeat(val) -%}
{% print val %}
{{ foo() }}
{{ caller() }}
{% endmacro %}
{% for i in range(1) -%}
{% macro foo() -%}
third foo definition
{% endmacro -%}
{% call repeat(2) -%}
2nd caller
{% endcall %}
{% endfor %}
{% endcall %}