{% set my_list = ['a'] %}{% set __macro_foo_97643642_temp_variable_0__ %}
a
{% if deferred %}
{% do my_list.append('b') %}b
{% endif %}
{% endset %}{{ __macro_foo_97643642_temp_variable_0__ }}
{{ my_list }}
