{% set my_list = [] %}{% set __macro_foo_97643642_temp_variable_0__ %}
{% do my_list.append('a') %}a
{% if deferred %}
{% do my_list.append('b') %}b
{% endif %}
{% endset %}{{ __macro_foo_97643642_temp_variable_0__ }}
{{ my_list }}
