{% set foo = ['a'] %}{% if deferred %}
{% set foo = ['a'] %}{% for i in [0] %}
{% for __ignored__ in [0] %}
{% do foo.append('b') %}
{% endfor %}
{% for __ignored__ in [0] %}
{% do foo.append('c') %}
{% endfor %}
{% endfor %}
{% endif %}
{% for __ignored__ in [0] %}
{% do foo.append('d') %}
{% endfor %}