{% set foo = [] %}
{% for first in range(1) %}
{% do foo.append('a') %}
{% endfor %}
{% if deferred %}
{% for i in range(1) %}
{% for j in range(1) %}
{% do foo.append('b') %}
{% endfor %}
{% for k in range(1) %}
{% do foo.append('c') %}
{% endfor %}
{% endfor %}
{% endif %}
{% for last in range(1) %}
{% do foo.append('d') %}
{% endfor %}
