{% set __macro_big_guy_1311704000_temp_variable_0__ %}
{% if deferred %}I am foo{% else %}I am bar{% endif %}
{% endset %}{% print __macro_big_guy_1311704000_temp_variable_0__ %}
{% set __macro_big_guy_1311704000_temp_variable_1__ %}
{% if deferred %}No more foo{% else %}I am bar{% endif %}
{% endset %}{% print __macro_big_guy_1311704000_temp_variable_1__ %}
