{% for __ignored__ in [0] %}
{% if deferred && true %}first time!
{% endif %}
1

{% if deferred && false %}first time!
{% endif %}
2
{% endfor %}
{% set foo = [0, 1] %}{% set foo = [0, 1] %}{% for i in foo %}
{% if deferred && loop.isLast() %}last time!
{% endif %}
{{ loop.index }}
{% endfor %}
