{% macro counter(foo) %}
{% set level = level + 2 %}
{% if level < foo %}
{{ counter(foo) }}
{% endif %}
{{ level }}
{% endmacro %}{{ counter(deferred) }}

{% macro counter(foo) %}
{% set level = level + 2 %}
{% if level < foo %}
{{ counter(foo) }}
{% endif %}
{{ level }}
{% endmacro %}{{ counter(2) }}
