{% set my_list = ['a', 'b'] %}\
{% set __macro_callerino_729568755_temp_variable_0__ %}\
{% do my_list.append(deferred) %}\
{{ my_list }}\
{% do my_list.append('d') %}\
{% endset %}\
{% call __macro_callerino_729568755_temp_variable_0__ %}\
{% do my_list.append(deferred) %}\
{{ my_list }}\
{% endcall %}
{{ my_list }}
