[fn:map_entry('import_resource_path', '../settag/set-var-and-deferred.jinja'), fn:map_entry('my_var', {'import_resource_path': '../settag/set-var-and-deferred.jinja', 'my_var': {'foo': 'bar'} , 'value': 'resolved'} ), fn:map_entry('path', ''), fn:map_entry('value', 'resolved')]