{% set the_list = [] %}
{% macro appender(some_list) -%}
{% if deferred %}
{% do some_list.append(deferred) %}
{% endif %}
{%- endmacro %}
{{ appender(the_list) }}
{{ the_list }}

{% set foo = [] -%}
{%- set bar = foo -%}
{% do foo.append(1) %}
{% do foo.append(deferred) %}
{% do foo.append(2) %}
{{ foo ~ 'and' ~ bar }}
