item1 {{ deferred }}.{% set temp = 'item1' ~ deferred %}
{{ temp }}
item2 {{ deferred }}.{% set temp = 'item2' ~ deferred %}
{{ temp }}
item3 {{ deferred }}.{% set temp = 'item3' ~ deferred %}
{{ temp }}
