{% set the_list = [] %}{% if deferred %}
{% set the_list = [] %}{% set some_list = [] %}{% set the_list = [] %}{% set some_list = the_list %}{% do some_list.append(deferred) %}
{% endif %}
{{ the_list }}


{% set foo = [1] %}{% set foo = [1] %}{% do foo.append(deferred) %}
{% do foo.append(2) %}
{% set bar = foo %}{% set bar = foo %}{{ foo ~ 'and' ~ bar }}
