{% set list = [] %}{% if deferred %}

{% set list = [] %}{% set __macro_inc_100372882_temp_variable_0__ %}{% do list.append(1) %}1{% set depth = 2 %}
{% set __macro_inc_100372882_temp_variable_11__ %}{% do list.append(2) %}2{% set depth = 3 %}
{% set __macro_inc_100372882_temp_variable_14__ %}{% do list.append(3) %}3{% endset %}{{ __macro_inc_100372882_temp_variable_14__ }}
{% set __macro_inc_100372882_temp_variable_15__ %}{% do list.append(3) %}3{% endset %}{{ __macro_inc_100372882_temp_variable_15__ }}{% endset %}{{ __macro_inc_100372882_temp_variable_11__ }}
{% set __macro_inc_100372882_temp_variable_16__ %}{% do list.append(2) %}2{% set depth = 3 %}
{% set __macro_inc_100372882_temp_variable_19__ %}{% do list.append(3) %}3{% endset %}{{ __macro_inc_100372882_temp_variable_19__ }}
{% set __macro_inc_100372882_temp_variable_20__ %}{% do list.append(3) %}3{% endset %}{{ __macro_inc_100372882_temp_variable_20__ }}{% endset %}{{ __macro_inc_100372882_temp_variable_16__ }}{% endset %}{{ __macro_inc_100372882_temp_variable_0__ }}
{% endif %}
