{% set outer_val = 'start' %}{% for def in deferred %}
{% set outer_list = [{'a': ['b']} ] %}
{% for __ignored__ in [0] %}
{% set map = {'a': ['b']}  %}{% set inner_list = map.a %}
{% for x in inner_list %}

{% set outer_val = outer_val ~ '-' %}
{% if outer_val == deferred %}
{{ outer_val }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
