{% set foo = [0] %}
{% set deferred = deferred && foo.append(1) %}
{% do foo.append(2) %}
{% set deferred = deferred && foo.append(3) %}
{% print foo.append(4) %}
{% set deferred = deferred && foo.append(5) %}
{{ foo }}
