{% set my_list = [] %}{% for key, val in [fn:map_entry('foo', 'ff'), fn:map_entry('bar', 'bb')] %}{% do my_list.append(deferred) %}
{{ key ~ ' ' ~ val }}{% endfor %}
{{ my_list }}

{% set my_list = [] %}{% for i in [fn:map_entry('foo', 'ff'), fn:map_entry('bar', 'bb')] %}{% do my_list.append(deferred) %}
{{ i.key }}{% endfor %}
{{ my_list }}
