{% set my_list = [] %}{% set __macro_append_stuff_153654787_temp_variable_0__ %}
{% if deferred %}

{% set __macro_foo_97643642_temp_variable_0__ %}
{% do my_list.append('b') %}
{% endset %}{{ __macro_foo_97643642_temp_variable_0__ }}
{% set __macro_foo_97643642_temp_variable_1__ %}
{% do my_list.append('c') %}
{% endset %}{{ __macro_foo_97643642_temp_variable_1__ }}
{% endif %}
{% endset %}{{ __macro_append_stuff_153654787_temp_variable_0__ }}

{{ my_list }}
