{% for i in range(deferred) %}
{% set __macro_foo_97643642_temp_variable_0__ %}
{{ deferred }}
{% endset %}{{ filter:int.filter(__macro_foo_97643642_temp_variable_0__, ____int3rpr3t3r____) + 3 }}
{% endfor %}
