{% raw %}\
{{ bar }}\
{% endraw %}
{% raw %}\
{{ bar }}\
{% endraw %}
{% raw %}\
{% print foo %}\
{% endraw %}
{% raw %}\
{% print foo %}\
{% endraw %}
{% raw %}\
{% baz %}\
{% endraw %}
{% raw %}\
{% baz %}\
{% endraw %}
No raw
No raw
