-----Pre-First-----

tracker_base is: 1_base? true
tracker_middle is: resolved? true
tracker_test is: resolved? true

-----Post-First-----
-----Pre-Second-----

tracker_base is: 1_base? true
tracker_middle is: resolved? true
tracker_test is: resolved? true

-----Post-Second-----
We aren't deferring tracker base.