Start loop
{% for __ignored__ in [0] %}\
{% if 0 > deferred %}\
  {% break '' %}\
  {% endif %}\
i is: 0
{% if 1 > deferred %}\
  {% break '' %}\
  {% endif %}\
i is: 1
{% if 2 > deferred %}\
  {% break '' %}\
  {% endif %}\
i is: 2
{% if 3 > deferred %}\
  {% break '' %}\
  {% endif %}\
i is: 3
{% if 4 > deferred %}\
  {% break '' %}\
  {% endif %}\
  i is: 4
{% endfor %}\
End loop