{% set myname = deferred %}

{% set __macro_foo_97643642_temp_variable_0__ %}
Goodbye {{ myname }}
{% endset %}\
{% set a = filter:upper.filter(__macro_foo_97643642_temp_variable_0__, ____int3rpr3t3r____) %}
{% do %}\
{% set current_path = 'eager/uses-unique-macro-names/macro-with-filter.jinja' %}
{% set __macro_foo_1717337666_temp_variable_0__ %}\
Hello {{ myname }}\
{% endset %}\
{% set b = filter:upper.filter(__macro_foo_1717337666_temp_variable_0__, ____int3rpr3t3r____) %}
{% set current_path = 'eager/uses-unique-macro-names/test.jinja' %}\
{% enddo %}
{{ a }}
{{ b }}
