{% import "tags/settag/set-var-exp.jinja" as pegasus %}

{{ pegasus.primary_line_height }}
{{ pegasus.secondary_line_height }}

{% set expected_to_be_deferred = pegasus.secondary_line_height %}
{{ expected_to_be_deferred }}
