{% macro macro1(options={}) %}
  <!-- code here, renders HTML -->
{% endmacro %}
{% macro macro2(options={}) %}
  <!-- some code, mainly formats passed options -->

  {% call macro1() %}{% endcall %}
{% endmacro %}
