{% set __render_524436216_temp_variable__ %}\
Hi {{ filter:escape.filter(deferred, ____int3rpr3t3r____) }}\
{% endset %}\
{{ filter:escape_jinjava.filter(__render_524436216_temp_variable__, ____int3rpr3t3r____) }}

{% set __render_524436216_temp_variable__ %}\
Hi {{ filter:escape.filter(deferred, ____int3rpr3t3r____) }}\
{% endset %}\
{{ __render_524436216_temp_variable__ }}