{% set __render_572171194_temp_variable__ %}\
Hi {{ filter:escape.filter(deferred, null) }}\
{% endset %}\
{{ filter:escape_jinjava.filter(__render_572171194_temp_variable__, null) }}

{% set __render_572171194_temp_variable__ %}\
Hi {{ filter:escape.filter(deferred, null) }}\
{% endset %}\
{{ __render_572171194_temp_variable__ }}