{% do %}\
{% set temp_current_path_205806278,current_path = current_path,'eager/reconstructs-value-used-in-deferred-imported-macro/uses-deferred-value-in-macro.jinja' %}\
{% set __temp_import_alias_1081745881__ = {}  %}\
{% for __ignored__ in [0] %}\
{% set value = deferred %}\
{% do __temp_import_alias_1081745881__.update({'value': value}) %}

{% do __temp_import_alias_1081745881__.update({'import_resource_path': 'eager/reconstructs-value-used-in-deferred-imported-macro/uses-deferred-value-in-macro.jinja','value': value}) %}\
{% endfor %}\
{% set macros = __temp_import_alias_1081745881__ %}\
{% set current_path,temp_current_path_205806278 = temp_current_path_205806278,null %}\
{% enddo %}

{% set deferred_import_resource_path = 'eager/reconstructs-value-used-in-deferred-imported-macro/uses-deferred-value-in-macro.jinja' %}\
{% macro macros.getValueAnd(other) %}\
{% set value = macros.value %}
{{ value ~ ' ' ~ other }}
{% endmacro %}\
{% set deferred_import_resource_path = null %}\
{{ macros.getValueAnd(1) }}
{% set deferred_import_resource_path = 'eager/reconstructs-value-used-in-deferred-imported-macro/uses-deferred-value-in-macro.jinja' %}\
{% macro macros.getValueAnd(other) %}\
{% set value = macros.value %}
{{ value ~ ' ' ~ other }}
{% endmacro %}\
{% set deferred_import_resource_path = null %}\
{{ macros.getValueAnd(deferred) }}
