[submodule "benchmark/liquid"]
	path = benchmark/liquid
	url = https://github.com/Shopify/liquid.git
[submodule "benchmark/jinja2"]
	path = benchmark/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
