{% for __ignored__ in [0] %}
Small 0 {{ deferred }} {{ deferred ~ 0 }}

Small 1 {{ deferred }} {{ deferred ~ 1 }}

Small 2 {{ deferred }} {{ deferred ~ 2 }}

Small 3 {{ deferred }} {{ deferred ~ 3 }}

Small 4 {{ deferred }} {{ deferred ~ 4 }}

Small 5 {{ deferred }} {{ deferred ~ 5 }}

Small 6 {{ deferred }} {{ deferred ~ 6 }}

Small 7 {{ deferred }} {{ deferred ~ 7 }}

Small 8 {{ deferred }} {{ deferred ~ 8 }}

Small 9 {{ deferred }} {{ deferred ~ 9 }}
{% endfor %}
{% for i in range(600) %}
Big {{ i }} {{ deferred }} {{ deferred ~ i }}
{% endfor %}