{% if deferred %}
{% do %}\
{% set __temp_meta_current_path_944750549__,current_path = current_path,'eager/handles-same-name-import-var/set-var-and-deferred.jinja' %}\
{% set __temp_meta_import_alias_1059697132__ = {}  %}\
{% for __ignored__ in [0] %}\
{% if deferred %}
{% do %}\
{% set path = '' %}\
{% do __temp_meta_import_alias_1059697132__.update({'path': path}) %}\
{% set my_var = {'my_var': {'foo': 'bar'} }  %}\
{% do __temp_meta_import_alias_1059697132__.update({'my_var': my_var}) %}\
{% set path = 'eager/handles-same-name-import-var/set-var-and-deferred.jinja' %}\
{% do __temp_meta_import_alias_1059697132__.update({'path': path}) %}\
{% set value = null %}\
{% do __temp_meta_import_alias_1059697132__.update({'value': value}) %}\
{% set my_var = {}  %}\
{% do __temp_meta_import_alias_1059697132__.update({'my_var': my_var}) %}\
{% set my_var = {'foo': 'bar'}  %}\
{% do __temp_meta_import_alias_1059697132__.update({'my_var': my_var}) %}\
{% set my_var = {'my_var': {'foo': 'bar'} }  %}\
{% do __temp_meta_import_alias_1059697132__.update({'my_var': my_var}) %}
{% set value = deferred %}\
{% do __temp_meta_import_alias_1059697132__.update({'value': value}) %}\
{% set my_var = {'my_var': {'foo': 'bar'} }  %}\
{% do __temp_meta_import_alias_1059697132__.update({'my_var': my_var}) %}\
{% do my_var.update({'value': value}) %}
{% do my_var.update({'import_resource_path': 'eager/handles-same-name-import-var/set-var-and-deferred.jinja', 'value': value}) %}\
{% set path = '' %}\
{% do __temp_meta_import_alias_1059697132__.update({'path': path}) %}\
{% enddo %}
{{ my_var }}
{% endif %}
{% do __temp_meta_import_alias_1059697132__.update({'path': path,'import_resource_path': 'eager/handles-same-name-import-var/set-var-and-deferred.jinja','value': value}) %}\
{% endfor %}\
{% set my_var = __temp_meta_import_alias_1059697132__ %}\
{% set current_path,__temp_meta_current_path_944750549__ = __temp_meta_current_path_944750549__,null %}\
{% enddo %}
{{ filter:dictsort.filter(my_var, null, false, 'key') }}
{% endif %}
