2
{% macro plus(foo, add) %}\
{{ foo + (filter:int.filter(add, null)) }}\
{% endmacro %}\
{{ plus(deferred, 1.1) }}\
{% set deferred = deferred + 2 %}
{% macro plus(foo, add) %}\
{{ foo + (filter:int.filter(add, null)) }}\
{% endmacro %}\
{{ plus(deferred, 3.1) }}