<div class="cell-wrapper layout-widget-wrapper">
{% text "module_143819779285827357" overrideable=true, value='U', wrapping_html='', label='Perform icon' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span4 widget-span widget-type-text pictos center" style="" data-widget-type="text" data-x="4" data-w="4">
<div class="cell-wrapper layout-widget-wrapper">
{% text "module_143819780991527688" overrideable=true, value='\\', wrapping_html='', label='Showcase icon' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span4 widget-span widget-type-text pictos center" style="" data-widget-type="text" data-x="8" data-w="4">
<div class="cell-wrapper layout-widget-wrapper">
{% text "module_143819781983527999" overrideable=true, value='X', wrapping_html='', label='Vendor Icon' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
