{% for __ignored__ in [0] %}
{% for bar in deferred %}
pastrami sandwich. {{ bar }}\
!
{% endfor %}

{% for bar in deferred %}
pastrami salad. {{ bar }}\
!
{% endfor %}

{% for bar in deferred %}
pastrami smoothie. {{ bar }}\
!
{% endfor %}
{% endfor %}
