{% set primary_line_height = 100 %}\
{% if deferred %}
{% do %}\
{% set current_path = '../settag/set-val.jinja' %}\
{% set __temp_import_alias_902286926__ = {}  %}\
{% for __ignored__ in [0] %}\
{% set primary_line_height = 42 %}\
{% do __temp_import_alias_902286926__.update({'primary_line_height': primary_line_height}) %}\
{% do __temp_import_alias_902286926__.update({'primary_line_height': 42,'import_resource_path': '../settag/set-val.jinja'}) %}\
{% endfor %}\
{% set simple = __temp_import_alias_902286926__ %}\
{% set current_path = '' %}\
{% enddo %}
{% else %}
{% do %}\
{% set current_path = '../settag/set-val.jinja' %}\
{% set primary_line_height = 42 %}\
{% set current_path = '' %}\
{% enddo %}
{% endif %}
simple.primary_line_height (deferred): {{ simple.primary_line_height }}
primary_line_height (deferred): {{ primary_line_height }}
secondary_line_height: 200
