Foo begins as: abc
{% set __temp_meta_current_path_38651297__,current_path = current_path,'sets-to-deferred.jinja' %}\
{% set foo = deferred %}
foo is now {{ deferred }}\
.
{% set current_path,__temp_meta_current_path_38651297__ = __temp_meta_current_path_38651297__,null %}
Foo ends as: {{ foo }}
