Foo begins as: abc
{% set temp_current_path_772637950,current_path = current_path,'sets-to-deferred.jinja' %}\
{% set foo = deferred %}
foo is now {{ deferred }}\
.
{% set current_path,temp_current_path_772637950 = temp_current_path_772637950,null %}
Foo ends as: {{ foo }}
