{% set myname = 'person' %}
{% if deferred %}
{%- import "../supplements/macro-and-set.jinja" as simple -%}
{% else %}
{%- import "../supplements/macro-and-set.jinja" as simple -%}
{% endif %}
simple.foo: {{ simple.foo() }}
simple.bar: {{ simple.bar }}
