Parent's current path is: eager/reconstructs-block-path-when-deferred/base.jinja
-----Pre-Block-----
Block's current path is: eager/reconstructs-block-path-when-deferred/test.jinja

-----Post-Block-----
Parent's current path is: eager/reconstructs-block-path-when-deferred/base.jinja
