{% set current_path = 'eager/reconstructs-block-path-when-deferred/base.jinja' %}\
{% set prefix = deferred ? 'current' : 'current' %}
Parent's current path is: {{ '{{' + prefix + '_path }}\
' }}
-----Pre-Block-----
{% set temp_current_path_404322609,current_path = current_path,'eager/reconstructs-block-path-when-deferred/test.jinja' %}\
{% set prefix = deferred ? 'current' : 'current' %}\
Block's current path is: {{ '{{' + prefix + '_path }}\
' }}
{% set current_path,temp_current_path_404322609 = temp_current_path_404322609,null %}
-----Post-Block-----
Parent's current path is: {{ '{{' + prefix + '_path }}\
' }}
