{# Start Label:  ignored_output_from_extends #}{% do %}
{% if deferred %}
{% set foo = 'yes' %}
{% else %}
{% set foo = 'no' %}
{% endif %}\
{% enddo %}\
{# End Label:  ignored_output_from_extends #}{% set current_path = '../eager/extendstag/base.html' %}\
<html>
<body>
<div class="sidebar">
{% set temp_current_path_743889914 = current_path %}\
{% set current_path = '' %}\
<h3>Table Of Contents</h3>
<p>{{ foo }}\
.</p>{% set current_path = temp_current_path_743889914 %}
</div>
</body>
</html>
