{% set ns = namespace({'enabled': false} ) %}\
{% set __macro_setit_1985651457_temp_variable_0__ %}\
{% set ns.enabled = deferred %}\
{% endset %}\
{{ __macro_setit_1985651457_temp_variable_0__ }}
{{ ns.enabled }}
