{%- macro inc_padding(width) -%}
{%- set padding = padding + width -%}
{{padding}}
{%- endmacro -%}
{{ padding }},
{%- set padding =  inc_padding(added_padding) | int -%}
{{ padding }},
{%- set padding = inc_padding(deferred) | int -%}
{{ padding}},
{%- set padding = inc_padding(added_padding) | int -%}
{{ padding }}
