Deferred list after block is: ['Before block']
Deferred list after block should be: ['Before block']
-----Pre-First-----


Deferred list inside of block is: ['Before block', 'After block', 'In child block']
Deferred list inside of block should be: ['Before block', 'After block', 'In child block']

-----Post-First-----

Deferred list after block is: ['Before block', 'After block']
Deferred list after block should be: ['Before block', 'After block']