{% set foo = 'start' %}\
{% for __ignored__ in [0] %}
{% do %}\
{% set __temp_meta_current_path_461135149__,current_path = current_path,'eager/supplements/deferred-modification.jinja' %}\
{% set __temp_meta_import_alias_3016318__ = {}  %}\
{% for __ignored__ in [0] %}\
{% if deferred %}

{% set foo = 'starta' %}\
{% do __temp_meta_import_alias_3016318__.update({'foo': foo}) %}

{% endif %}

{% set foo = filter:join.filter([foo, 'b'], null, '') %}\
{% do __temp_meta_import_alias_3016318__.update({'foo': foo}) %}
{% do __temp_meta_import_alias_3016318__.update({'foo': foo,'import_resource_path': 'eager/supplements/deferred-modification.jinja'}) %}\
{% endfor %}\
{% set bar1 = __temp_meta_import_alias_3016318__ %}\
{% set current_path,__temp_meta_current_path_461135149__ = __temp_meta_current_path_461135149__,null %}\
{% enddo %}
{{ bar1.foo }}
{% do %}\
{% set __temp_meta_current_path_461135149__,current_path = current_path,'eager/supplements/deferred-modification.jinja' %}\
{% set __temp_meta_import_alias_3016319__ = {}  %}\
{% for __ignored__ in [0] %}\
{% if deferred %}

{% set foo = filter:join.filter([foo, 'a'], null, '') %}\
{% do __temp_meta_import_alias_3016319__.update({'foo': foo}) %}

{% endif %}

{% set foo = filter:join.filter([foo, 'b'], null, '') %}\
{% do __temp_meta_import_alias_3016319__.update({'foo': foo}) %}
{% do __temp_meta_import_alias_3016319__.update({'import_resource_path': 'eager/supplements/deferred-modification.jinja'}) %}\
{% endfor %}\
{% set bar2 = __temp_meta_import_alias_3016319__ %}\
{% set current_path,__temp_meta_current_path_461135149__ = __temp_meta_current_path_461135149__,null %}\
{% enddo %}
{{ bar2.foo }}

{% do %}\
{% set __temp_meta_current_path_461135149__,current_path = current_path,'eager/supplements/deferred-modification.jinja' %}\
{% set __temp_meta_import_alias_3016318__ = {}  %}\
{% for __ignored__ in [0] %}\
{% if deferred %}

{% set foo = filter:join.filter([foo, 'a'], null, '') %}\
{% do __temp_meta_import_alias_3016318__.update({'foo': foo}) %}

{% endif %}

{% set foo = filter:join.filter([foo, 'b'], null, '') %}\
{% do __temp_meta_import_alias_3016318__.update({'foo': foo}) %}
{% do __temp_meta_import_alias_3016318__.update({'import_resource_path': 'eager/supplements/deferred-modification.jinja'}) %}\
{% endfor %}\
{% set bar1 = __temp_meta_import_alias_3016318__ %}\
{% set current_path,__temp_meta_current_path_461135149__ = __temp_meta_current_path_461135149__,null %}\
{% enddo %}
{{ bar1.foo }}
{% do %}\
{% set __temp_meta_current_path_461135149__,current_path = current_path,'eager/supplements/deferred-modification.jinja' %}\
{% set __temp_meta_import_alias_3016319__ = {}  %}\
{% for __ignored__ in [0] %}\
{% if deferred %}

{% set foo = filter:join.filter([foo, 'a'], null, '') %}\
{% do __temp_meta_import_alias_3016319__.update({'foo': foo}) %}

{% endif %}

{% set foo = filter:join.filter([foo, 'b'], null, '') %}\
{% do __temp_meta_import_alias_3016319__.update({'foo': foo}) %}
{% do __temp_meta_import_alias_3016319__.update({'import_resource_path': 'eager/supplements/deferred-modification.jinja'}) %}\
{% endfor %}\
{% set bar2 = __temp_meta_import_alias_3016319__ %}\
{% set current_path,__temp_meta_current_path_461135149__ = __temp_meta_current_path_461135149__,null %}\
{% enddo %}
{{ bar2.foo }}
{% endfor %}
{{ foo }}