{% set current_path = 'eager/reconstructs-block-path-when-deferred-nested/base.jinja' %}\
{% set prefix = deferred ? 'current' : 'current' %}
Parent's current path is: {{ '{{' + prefix + '_path }}\
' }}
-----Pre-First-----
{% set temp_current_path_344089506,current_path = current_path,'eager/reconstructs-block-path-when-deferred-nested/test.jinja' %}\
{% set prefix = deferred ? 'current' : 'current' %}\
Child's first current path is: {{ '{{' + prefix + '_path }}\
' }}
{% set current_path,temp_current_path_344089506 = temp_current_path_344089506,null %}
-----Post-First-----
-----Pre-Second-----
{% set temp_current_path_535589872,current_path = current_path,'eager/reconstructs-block-path-when-deferred-nested/middle.jinja' %}\
{% set prefix = deferred ? 'current' : 'current' %}\
Middle's second current path is: {{ '{{' + prefix + '_path }}\
' }}
{% set current_path,temp_current_path_535589872 = temp_current_path_535589872,null %}
-----Post-Second-----
Parent's current path is: {{ '{{' + prefix + '_path }}\
' }}
