Parent's current path is: eager/reconstructs-block-path-when-deferred-nested/base.jinja
-----Pre-First-----
Child's first current path is: eager/reconstructs-block-path-when-deferred-nested/test.jinja

-----Post-First-----
-----Pre-Second-----
Middle's second current path is: eager/reconstructs-block-path-when-deferred-nested/middle.jinja

-----Post-Second-----
Parent's current path is: eager/reconstructs-block-path-when-deferred-nested/base.jinja