Starting current_path: starting path
Intermediate current_path: starting path
{% for __ignored__ in [0] %}\
{% set foo = deferred %}
{{ foo }}\
{% print foo %}\
{% endfor %}
Ending current_path: starting path