{% for __ignored__ in [0] %}
{% set c = [1, deferred] %}
{% if exptest:iterable.evaluate(c, null) %}\
{{ c[0 % filter:length.filter(c, null)] }}\
{% else %}\
{{ c }}\
{% endif %}
{% set c = [2, deferred] %}
{% if exptest:iterable.evaluate(c, null) %}\
{{ c[1 % filter:length.filter(c, null)] }}\
{% else %}\
{{ c }}\
{% endif %}
{% set c = [3, deferred] %}
{% if exptest:iterable.evaluate(c, null) %}\
{{ c[2 % filter:length.filter(c, null)] }}\
{% else %}\
{{ c }}\
{% endif %}\
{% endfor %}
