{% set __macro_getData_357124436_temp_variable_0__ %}


{% for __ignored__ in [0] %}
{% set __macro_doIt_1327224118_temp_variable_0__ %}
{{ deferred ~ '{"a":"a"}' }}
{% endset %}\
{{ __macro_doIt_1327224118_temp_variable_0__|upper }}

{% set __macro_doIt_1327224118_temp_variable_1__ %}
{{ deferred ~ '{"b":"b"}' }}
{% endset %}\
{{ __macro_doIt_1327224118_temp_variable_1__|upper }}
{% endfor %}
{% endset %}\
{{ __macro_getData_357124436_temp_variable_0__|upper }}
