{% set my_list = [] %}\
{% macro macro_append(num) %}\
{% do my_list.append(num) %}\
{{ my_list }}\
{% endmacro %}\
{% if [] == filter:split.filter(macro_append(deferred), null, ',', 2) %}
{{ my_list }}
{% endif %}
