tracker_base is: 1_base? true
tracker_middle is: resolved? true
tracker_test is: resolved? true
-----Pre-First-----

tracker_base is: resolved? true
tracker_middle is: resolved? true
tracker_test is: resolved? true

-----Post-First-----
tracker_base is: 1_base? true
tracker_middle is: resolved? true
tracker_test is: resolved? true
-----Pre-Second-----

tracker_base is: resolved? true
tracker_middle is: resolved? true
tracker_test is: resolved? true

-----Post-Second-----
Deferring tracker base.

tracker_base is: resolved? true
tracker_middle is: resolved? true
tracker_test is: resolved? true