tracker_base is '1_base': 1_base? true
tracker_middle is 'resolved': resolved? true
tracker_test is 'resolved': resolved? true
-----Pre-First-----

tracker_base is 'resolved': resolved? true
tracker_middle is 'resolved': resolved? true
tracker_test is 'resolved': resolved? true

-----Post-First-----
tracker_base is '1_base': 1_base? true
tracker_middle is 'resolved': resolved? true
tracker_test is 'resolved': resolved? true
-----Pre-Second-----

tracker_base is 'resolved': resolved? true
tracker_middle is 'resolved': resolved? true
tracker_test is 'resolved': resolved? true

-----Post-Second-----
Deferring tracker base.

tracker_base is 'resolved': resolved? true
tracker_middle is 'resolved': resolved? true
tracker_test is 'resolved': resolved? true