{% set increment = 2 %}
{% macro counter(foo) %}
{% set level = level + increment %}
{% if level < foo %}
{{ counter(foo) }}
{% endif %}
{{ level }}
{% endmacro %}
{{ counter(deferred) }}

{{ counter(2) }}
