{% set styles = {
    'heading':          'color:' ~ colors.blue ~ ';text-shadow:2px 2px 1px rgba(0,0,0,.1);font-family:' ~ fonts.family,

    'primary_font':     'color:' ~ colors.base ~ ';font-size:' ~ fonts.size ~ 'px;line-height:1.5;font-family:' ~ fonts.family,

    'secondary_font':   'font-size:' ~ fonts.size_secondary ~ 'px;line-height:1.5;font-family:' ~ fonts.family,

    'module':           'background:#ffffff;padding:' ~ padding ~ 'px;border:1px solid ' ~ 10
} %}