{% set deferred_import_resource_path = 'eager/reconstructs-fromed-macro/has-macro.jinja' %}\
{% macro to_upper(param) %}
 {{ param|upper }}
{% endmacro %}\
{% set deferred_import_resource_path = null %}\
{{ to_upper(deferred) }}