{% for meta in [0] %}
{{ meta }}
{%- endfor %}
{{ meta }}
{% for meta in deferred %}
{{ meta }}
{%- endfor %}
{{ meta }}
{%- set meta = [] %}
{% if deferred %}
{% do meta.append(1) %}
{% endif %}
{{ meta }}
